#container{
    color:black;
    background-color: aqua;
    height: 100%;
    width: 100%;
}
body{
    color:black;
}
div{
    display: inline-block;
    background-color: red;
    width: 20%;
    height: 20%;
    margin: 1px;
}
