#container{
    color:black;
    background-color: rgb(169,169,169);
    height: 90%;
    width: 80%;
    margin-inline: 10%;
}
h1{
    color:rgb(184, 125, 131);
    margin: auto;
    width: 30%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 1px 1px rgb(147,112,219);
}
body{
    background-color:rgb(75,0,130);
}
div{
    display: inline-block;
    background-color: red;
    width: 24%;
    height: 24%;
    margin: 0px;
}

button{
    margin: auto;
    margin-left: 45%;
    margin-right: 45%;
    position:absolute
}
